<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>短信验证码</title>
</head>
<body>
    <h1 th:inline="text">饿了么</h1>
    <form action="eleLogin" >
        <div>
            <div>
                验证码:
                <input type="tel" name="smsCode" maxlength="6" placeholder="输入验证码"/>
            </div>
            <div>
                <input type="submit" value="提交"/>
            </div>
        </div>
    </form>

    <h1 th:inline="text">电信</h1>
    <form action="crmLogin" >
        <div>
            <div>
                验证码:
                <input type="tel" name="smsCode" maxlength="6" placeholder="输入验证码"/>
            </div>
            <div>
                <input type="submit" value="提交"/>
            </div>
        </div>
    </form>

</body>
</html>